@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');


.App {
  text-align: center;
  background: url("https://images.hdqwalls.com/download/landscape-sunset-minimal-4k-2y-2932x2932.jpg");
  background-size: cover;
  font-family: 'Kanit';
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0);
  margin-bottom: 20px;
  height: 10vh;
}

.navlink {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.navlinks {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.display-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  height: auto;
  width: 300px;
  background-color: rgba(0, 0, 0);
  margin-bottom: 20px;
  border-radius: 10px;;
}

.product-img img {
  height: 150px;
  width: 90%;
  margin: 15px 0 0 0;
  border-radius: 10px;
}

.button {
  margin: 8px;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Kanit';
  background-color: #495583;
  color: white;
}

.button:hover {
  background-color: #394266;
}

.button:active {
  background-color: #394266;
  transform: translateY(4px);
}

.info {
  color: white;
  padding: 10px;
}

.form-input {
  margin: 10px;
}

h1 {
  font-size: 40px;
  letter-spacing: 0.05em;
  margin-left: 15px;;
}

h3 {
  margin: 0;
}

.order-card {
  background-color: black;
}