@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


.App {
  text-align: center;
  background: url("https://images.hdqwalls.com/download/landscape-sunset-minimal-4k-2y-2932x2932.jpg");
  background-size: cover;
  font-family: 'Questrial';
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgba(0, 0, 0);
  margin-bottom: 20px;
  height: 10vh;
}

.navlink {
  text-decoration: none;
  font-weight: bold;
}

.display-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  height: auto;
  width: 300px;
  background-color: rgba(0, 0, 0);
  margin-bottom: 20px;
  border-radius: 10px;;
}

.product-img img {
  height: 150px;
  width: 90%;
  margin: 15px 0 0 0;
  border-radius: 10px;
}

.button {
  margin: 8px;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Questrial';
  background-color: #495583;
  color: white;
}

.button:hover {
  opacity: 0.8;
}

.info {
  color: white;
  padding: 10px;
}

.form-input {
  margin: 10px;
}

h3 {
  margin: 0;
}

.order-card {
  background-color: black;
}